:root {
  --color-background: white;
  --color-foreground: hsl(61 2.0% 8.3%);
  --color-demo-highlight: hsl(292 47.7% 70.8%);
  --color-demo-background: aliceblue;
  --color-code: hsl(280 70% 20%);
  --color-code-subtle: hsl(280 70% 95%);
  --color-island: hsl(52 100% 95.5%);
  --color-global: hsl(167 70% 48%);
  --color-global-flash: hsl(167 70% 80%);
  --color-local: hsl(292 47.7% 70.8%);
  --color-local-flash: hsl(292 47.7% 90%);
  --color-props: hsl(228 100% 75.9%);
  --color-props-flash: hsl(228 100% 90%);
  --color-tint: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(61 2.0% 8.3%);
    --color-foreground: #ededed;
    --color-demo-highlight: hsl(292 47.7% 70.8%);
    --color-demo-background: hsl(229 24.0% 10.0%);
    --color-code: hsl(280 70% 99%);
    --color-code-subtle: hsl(280 70% 15%);
    --color-island: hsl(43 14.3% 9.6%);
    --color-global: hsl(167 70% 38%);
    --color-global-flash: hsl(167 70% 20%);
    --color-local: hsl(292 47.7% 60.8%);
    --color-local-flash: hsl(292 47.7% 20%);
    --color-props: hsl(228 100% 65.9%);
    --color-props-flash: hsl(228 100% 20%);
    --color-tint: rgba(255, 255, 255, 0.1);
  }
}

body,
html {
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 1rem;
  margin: 0;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
main {
  display: grid;
  grid-template-columns:
    1fr minmax(min-content, 20ch)
    minmax(30ch, 80ch)
    minmax(min-content, 20ch) 1fr;
  max-width: 100%;
  margin: 1rem auto;
  gap: 1.5rem;
}
main > * {
  grid-column: 3;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  margin: 0;
}

u {
  text-decoration: underline var(--color-local);
}

a {
  color: var(--color-props);
  text-decoration: wavy underline var(--color-props-flash);
}

.callout {
  padding: 1rem;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
.callout > *:first-child {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.demo {
  grid-column: 2 / 5;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background: var(--color-demo-background);
  border: 2px dashed var(--color-demo-highlight);
}

@media screen and (max-width: 100ch) {
  main {
    grid-template-columns: 1fr 60ch 1fr;
  }
  main > * {
    grid-column: 2;
    max-width: 100%;
  }
  .demo {
    grid-column: 2;
  }
}

.demo::before {
  content: 'demo';
  position: absolute;
  top: 0;
  transform: translateY(-50%) skewX(-15deg);
  box-shadow: 0 0 0 2px var(--color-demo-highlight);
  background: var(--color-background);
  color: var(--color-demo-highlight);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0 0.25rem;
}

code {
  display: inline-flex;
  padding: 0.25em;
  font-size: 0.9rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border-radius: 0.25rem;
  color: var(--color-code);
  background: var(--color-code-subtle);
}
code::before {
  content: '`';
}
code::after {
  content: '`';
}

.ocean {
  padding: 2rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  background: var(--color-demo-background);
  /* box-shadow: inset 0 0 0 0.5rem var(--color-tint); */
  text-shadow: 2px 2px 0 var(--color-demo-background);
  background: repeating-linear-gradient(
    -45deg,
    var(--color-demo-background),
    var(--color-demo-background) 10px,
    var(--color-tint) 10px,
    var(--color-tint) 20px
  );
}

.island {
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background: var(--color-island);
  box-shadow: inset 0 0 0 0.5rem var(--color-tint);
}
.island pre {
  font-family: 'Monaco', 'Courier New', Courier, monospace;
  margin: 0;
  background: var(--color-tint);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid var(--highlight);
}

.island [data-type] {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 1.8;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: inherit;
}
.island [data-type='props'] {
  --flashColor: var(--color-props-flash);
  --highlight: var(--color-props);
}
.island [data-type='global'] {
  --flashColor: var(--color-global-flash);
  --highlight: var(--color-global);
}
.island [data-type='local'] {
  --flashColor: var(--color-local-flash);
  --highlight: var(--color-local);
}
.island b {
  display: inline-block;
  background: var(--highlight);
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

button {
  --corner-radius: 0.5rem;
  --border-color: var(--highlight);
  all: unset;
  font-size: 1rem;
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 1rem;
  background: var(--color-background);
  color: var(--color-foreground);
  border: 2px solid var(--border-color);
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background: var(--color-tint);
}
button:active {
  background: var(--flashColor);
}
button:first-of-type {
  border-radius: var(--corner-radius) 0 0 var(--corner-radius);
  border-right: 0;
}
button:last-of-type {
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
}
.line {
  display: block;
  flex: auto;
  height: 2px;
  background: var(--highlight);
}
